/* the contactUs section *//* section container */
$breakpoint-mobile :1004px;
// 1004px
.contactUs{
    display: flex;
    flex-wrap: wrap;
    margin: -70px auto auto auto;
    background-color: rgb(26, 26, 26);
    padding: 30px;
    padding-top: 30px;
    justify-content: center;

    .usefuLinks{
    
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-bottom: 30px;

        @media(max-width: $breakpoint-mobile){
            width: 90%;
            padding:10px;
            font-size: 13px;
            margin-bottom: -20px;
        }

        .link-arr{
            padding: 20px 50px 5px 20px; 
            @media(max-width: $breakpoint-mobile){
                padding: 10px 15px 5px 15px;
            }

            a {
                text-decoration: none;
                padding:20px;
                color:#b1b9c0;
                font-size: 1.6rem;

                @media(max-width: $breakpoint-mobile){
                    font-size: 1.2rem;
                }

                &:hover{
                    color:#fff;
                }
                
            }
        }

        .newsLetter{
            color:#b1b9c0;

            h1{
                font-family:Georgia, 'Times New Roman', Times, serif;
                margin: 30px 20px;
                font-weight: lighter;

                @media(max-width: $breakpoint-mobile){
                    margin: 20px  20px 20px 20px;
                }
            }

            input{
                border-radius: 2%;
                display: inline-block;
                margin: 10px 5px;
                line-height: 0.8cm;
                border: 2px solid #e8a952;
                border-radius: 4px;
                outline: none;
                width: 200px;
                flex-wrap: wrap;

                @media(max-width: $breakpoint-mobile){
                    display: inline-block;
                }

                &:focus{
                    border: 3px solid #fd8421;
                    border-radius: 4px;
                }

                &::placeholder {
                    font-size: 1.1rem;
                    margin-bottom: -3px;
                }
            }
            
            .subscribe-btn{
                    
               
                button{
                
                    font-size: 1.8rem;
                    padding-bottom: -4px;
                    color: white;
                    border-radius: 40px;
                    box-sizing: border-box;
                    border-width:10px; 
                    display: block;
                    height: 60px;
                    text-decoration: none;
                    width: 250px;
                    z-index: 2;
                    margin: 40px auto 90px;
                    border: 2px solid #ffba5a;
                    background-color: #ffba5a;
                    align-items: center;
                    // background: #0e0e10;
                    border-radius: 40px;
                    display: flex;
                    justify-content: center;
                    transition: background 0.5s ease;
                    // background:transparent;

                    @media(max-width: $breakpoint-mobile){
                        margin: 20px auto 90px;
                        font-size: 1.5em;
                        height: 40px;
                        width: 180px;
                    }

                    &:hover{
                        width: 265px;

                        @media(max-width: $breakpoint-mobile){
                            width: 230px;
                        }

                    }

                    @media(max-width: $breakpoint-mobile){
                        // width: 190px;
                        height: 50px;
                    }
                } 
            
            }
                        
        }
            
    }

    .contactInfo{
        font-size: 1.6rem;
      

        @media(max-width: $breakpoint-mobile){
            font-size: 1.2rem; 
            margin: -30px;
            align-items: center;
            display: flex;
            width: 85%;
            flex-wrap: wrap;

        }

        div{
                
            @media(max-width: $breakpoint-mobile){
                display: flex;
                flex-wrap: wrap;
                // margin: auto;
                // width: 300px;
                text-align: center;
                margin-left: 10px;
            }
            .restIcon{
               margin: auto 10px auto auto ;
            }
            p{
                color:#b4bbc1;

               
                
                &:hover{
                    color:#fff;
                }
                span{
                    color:rgb(205, 212, 216);
                   
                    @media(max-width: $breakpoint-mobile){
                       display: none;
                    }
                    
                }
            }
        }
       
    }

    
}
    
    
 

   

   
  

 

  