
.reservations{

    background-color:#ebe8e5;
    padding-top: 90px;
    padding-bottom: 100px;

    .dash{
        color:#e8a952;
        width: 130%;
    }
    
    .room-form{
        border:3px solid #e8a952;
        border-radius:10px;
        padding: 40px;
        width: 60%;
        margin:auto;
       
        background-color: #fff;

        input{
            height: 35px;
            margin: 20px;
            border-radius: 5px;
            border: 2px solid  #9e9ca3;
            transition: 0.5s;

            label{
                font-size: 1.6rem;
                display: block;
            }

            &:focus{
                border: 2px solid #e8a952;
                
            }

            .name-input {
                width: 35%;
                
            }

            .phone-input{
                width: 35%;

            }

            .date-input{
                width: 30%;
            }
               
            .email-input {
                width:85%;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;

                input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            }

        }

    }
}
   
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  

    
      
      
      
      