section {
  .top {
    z-index: 15;
    // margin-top: 45px;
    color: #808080;
    position: fixed;
    font-weight: 700;
    width: 100vw;
    background-color: #212529;
    font-size: 1.6rem;
    text-align: center;
    height: 60px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 30px;
      text-decoration: none;
     
    }

    .navig{
        color:#808080;

        &:hover{
            color: #fff;
          }
        &::after{
            
            transform:rotate(180deg)
        }
    }

    .brand {
      color: #e8a952;
     
    }
  }

  .reservations {
    &:root {
      accent-color: #e8a952;
    }

    background-color: #ebe8e5;
    padding-top: 90px;
    padding-bottom: 100px;

    .dash {
      color: #e8a952;
      width: 130%;
    }

    p {
      font-size: 1 rem;
    }
    .room-form {
      border: 3px solid #e8a952;
      border-radius: 10px;
      padding: 70px;
      width: 50%;
      margin: auto;

      background-color: #fff;

      div {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8px 0 0;

        .name-div {
          width: 47.5%;
          display: flex;
          min-width: 100px;

          @media (max-width: 680px) {
            width: 45%;
          }

          label {
            width: 49%;
            min-width: 100px;

            @media (max-width: 340px) {
              wdth: 45%;
            }
          }

          input {
            width: 100%;
          }
        }
      }

      .switch {
        display: flex;

        label {
          width: 80%;
        }
        input[type="checkbox"] {
          // display: inline;
          width: 30px;
          margin: auto 0;

          &:checked + label:before {
            background: #e8a952;
          }
        }
      }

      div {
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        text-align: left;
        height: 80px;
        width: 100%;

        label {
          width: 95%;
          margin-top: 20px;
          color: #8e8d8d;
        }

        input {
          width: 95%;
          border-radius: 3px;
          height: 35px;
          outline: none;
          font-size: 1.2rem;
          color: rgb(45, 45, 45);

          &:focus {
            border: 3px solid #e8a952;
            background-color: #ebe8e5;
          }
        }
      }

      button {
        height: 55px;
        width: 170px;
        font-size: 1.4rem;
        border-radius: 5px;
        background-color: #e8a952;
        color: #fff;
        border-color: #e8a952;
        translate: width ease-in-out 5ms;
        translate: height ease-in-out 5ms;
        margin: 5px;

        &:hover {
          background-color: #eca33d;
          width: 173px;
          height: 58px;
        }
      }
    }
  }
}
