/* rooms Page styling */
.rooms{
    position: relative;
    
}

/* the description inside the rooms div */
.rooms>div>p{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  
}

.room-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 
}

/* the rooms card picture */
.room-card img{
    height: 6cm;
    width: auto;
    margin: 10px ;
    box-shadow: 1px 3px 11px #545b61;
    border-radius: 2%;
}

/* room pic effecton hover */
.room-card img:hover{
    transform: scale(1.1);
}
/* the room type name */
.roomCard> header{
    color: #e8a952;
    font-size: 1.5rem;
    padding: 10px;
   
}


/* the room pricings */
.roomCard> footer{
    font-size: 1rem;
    font-family: monospace;
    font-weight: 300;
}