



/* body stying */
    body{
        padding:0%;
        margin:0px;
        text-align: center;
        justify-content: center;
        /* font-family: 'Open Sans', serif; */
    }







/* rooms Page styling */
    .rooms{
        position: relative;
        
    }

    /* the description inside the rooms div */
    .rooms>div>p{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
      
    }

    .room-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
     
    }

    /* the rooms card picture */
   .room-card img{
        height: 6cm;
        width: auto;
        margin: 10px ;
        box-shadow: 1px 3px 11px #545b61;
        border-radius: 2%;
   }

   /* room pic effecton hover */
   .room-card img:hover{
        transform: scale(1.1);
   }
   /* the room type name */
    .roomCard> header{
        color: #e8a952;
        font-size: 1.5rem;
        padding: 10px;
       
    }

    
    /* the room pricings */
    .roomCard> footer{
        font-size: 1rem;
        font-family: monospace;
        font-weight: 300;
    }

/* photos section styling */
    /* photos containere */
    .photos{
        background-color: #ebe8e5;
        padding-bottom:20px;
    }

    /* the p and h inside photos */
    .photosContent {
        justify-content: center;
        width: 50%;
        margin: 0px 25%;
    }

    .photosCorousel{
        margin: 0px 10%;
        margin-bottom: 20px;
        
    }

/* menu styling  */
    /* the  menu container */
    .menu{
    
        background-image:linear-gradient( rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.711) ),
        url("https://preview.colorlib.com/theme/sogo/images/xhero_3.jpg.pagespeed.ic.E0AL0Eb0b0.webp");
        background-attachment: fixed;
        background-position: center center ;
        background-size: cover;
    }

    /* the description in the menu */
    .menu>div>p{
        color:#fff;
        font-size: large;
        padding-top: 15px ;
        padding: 10px;
        font-weight: 300;
        font-family: cursive;
        margin: 0px 40px ;
        
    }
    /* the p and h atop of the menu */

    .menu>.menuTexts{
        width: 60%;
        margin: 0 auto ;
    }

    /* the title */
    .menu>div>h1{
        color:#fff;
        padding-top:40px;
        font-family: cursive;
        margin-top: -20px;
    }

    /* the buttons container */
    .buttonsContainer{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* the food types */
    .menu button{
        border: none;
        color:#ffba5a;
        background: transparent;
        font-size: 1.5rem;
        margin: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: text-decoration 1.5s;
        letter-spacing: 10px;
    }
 

    .menu button:hover{
        text-decoration: underline #e8a952;
        color:#fd8421;
    }

    .activebtn>button{
        text-decoration: underline #e8a952;
        color:#fd8421;
    }

    .shape{
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        fill: transparent;
        stroke: #19f6e8;
        border-bottom: 5px solid black;
        transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    }
    /* the container holding the menuItes */
    .menuContent{
        color:rgba(240, 239, 239, 0.746);
        width: 90%;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
       
    }

    .menuContent>div>div:hover{
        color:#fff;
    }

    .menuContent >div{
        display: flex;
        flex-wrap: wrap;
       
        
    }

    .menuContent >div>div{
        width:50%;
        margin-bottom: 40px;
        
    }

    .menuContent>div>div>h2{
        font-size: 2rem;
    }

    .menuContent>div>div>h3{
        font-size: 1.8rem;
        font-family: monospace;
        color:#ffba5a;
        font-weight: 200;
    }

    .menuContent>div>div>p{
        width:80%;
        margin:auto;
        font-size: 1.4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
/* events section styling */
    .eventsContainer{
        background-color:#ebe8e5;
        margin-top: -40px;
    }

    .eventsHeader{
        width: 50%;
        margin:auto;
    }


    .events{
        background-color:#ebe8e5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top:30px;
        padding-bottom: 30px;
    }

    .events>div{
        background-color: #fff;
        display: flex;
        margin:20px;
        padding-top: 10px;
        box-shadow: 3px 5px 17px #545b61;
        width: 80%;
        height: 240px;
    }

    .events>div:hover{
        box-shadow: 3px 5px 17px #0e0e10;
    }

    .right{
        width:60%;
        justify-content: left;
        text-align: left;
        /* height: 100px; */
    }

    .left{
        margin-top: -10px;
        
    }

    .right>p{
       color:#545b61;
       margin:10px;
       padding-bottom:20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .right>h2{
        font-family:monospace ;
        color: #545b61;
        text-align: center;
        margin-right: 70px;
        
    }

    .right>h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 0px 15px;
        
    }

    .left>img{
        width:100%;
       height: 6.645cm;
        display: inline;
        
    }

    .left>h1{
        position: relative;
        font-family: cursive;
        background-size: contain;
        bottom:90px;
        width: fit-content;
        font-size: 1.9rem;
        background-color: #0e0e10;
        opacity: .7;
        left:15%;
        border-radius: 10%;
        
    }

    .left>h1:hover{
       opacity: 1;
    }

    .left>h1>span{
        color: #fff;
        z-index: 3;
        opacity: 1;
    }

/* reserve container styling */
    /* cover */
    .reserve{
        background-attachment: fixed;

        font-size:x-large ;
        color: #fff;
        background-position: center;
        display: flex;
        
        flex-wrap: wrap;
        padding: 5%;
        margin-bottom: 70px;
        background-image:linear-gradient( rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.711) ),
        url("https://preview.colorlib.com/theme/sogo/images/xhero_4.jpg.pagespeed.ic.1tASHklKp8.webp");
        
    }

    /* we alsa offer */
    .reserve ul{
        list-style-type:none;
        
    }

    .reserve ul>li{
        text-align: left;
    }

    /* the tick */
    .reserve ul>li>span{
        color:#e8a952
    }

    .reserve>:nth-child(1)>h1{
        width: 550px;
        text-align: left;
        margin: 20px 20px 0px 20px;
        
    }     

    .reserve>:nth-child(1){
        border-style: solid;
        border-image: linear-gradient( to bottom,  #e8a952,  rgba(0, 0, 0, 0)  ) 0.5 100%;
    }

    .reserve>:nth-child(1)>h1>Span, .reserve>:nth-child(1)>h3>Span{
        color:#e8a952;
    }

    .reserve>:nth-child(1)>h3 ,  .reserve>:nth-child(1)>p{
        text-align: right;
        margin:  0px 20px;
        font-weight: 200;
        font-size: 1.2rem;
        
    }

    .reserve>:nth-child(1)>p{
        font-size: 1rem;
        color:#e8a952;
        font-weight: 200;
        margin-right: 110px;

    }
    
    

    .reserve>:nth-child(2){
        padding-left:35px;
        
    }

    .reserve a{
        margin: 20px auto 50px -15px ;
        left: 40%;
        font-size: 1.9rem;
        padding-bottom: -4px;
        height: 55px;
        width: 150px;
    }

    .reserve a:hover{
        width: 165px;
    }

    /* the contactUs section */
    /* section container */
    .contactUs{
        display: flex;
        flex-wrap: wrap;
        margin: -70px auto auto auto;
        background-color: rgb(26, 26, 26);
        padding: 30px;
        
    }
    
    .usefuLinks{
      
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-bottom: 30px;
    }

    .usefuLinks>div{
        padding: 20px 50px 5px 20px; 
       
    }

    .usefuLinks>div>a {
        text-decoration: none;
        padding:20px;
        color:#b1b9c0;
        font-size: 1.6rem;
        
        
    }

    .usefuLinks>div>a:hover{
        color:#fff;
    }

    .newsLetter{
        color:#b1b9c0;
        
    }

    .newsLetter>h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin: 30px 20px;
    }
    .newsLetter>input{
        border-radius: 2%;
        display: flex-box;
        margin: 10px 5px;
        line-height: 0.8cm;
        border: 2px solid #e8a952;
        border-radius: 4px;
        outline: none;
        width: 200px;
    }

    .newsLetter>input:focus{
        border: 3px solid #fd8421;
        border-radius: 4px;
    }

    .newsLetter>input::placeholder {
        font-size: 1.1rem;
        margin-bottom: -3px;
    }

    .newsLetter>a{
        width: 150px;
        height: 50px;
        margin:-80px auto 30px auto;
        font-size: 1.6rem;
    } 

    .newsButton>a>span{
        margin: auto;
    }

    .newsButton>a:hover{
        width: 180px;
    }


    .contactInfo{
        font-size: 1.6rem;
    }
    .contactInfo>p>span{
        color:rgb(205, 212, 216);
       
    }

    .contactInfo>p:hover{
        color:#fff;
    }

    .contactInfo>p{
        color:#b4bbc1;
    }


/* footer styling */

    .footer{
        background-color:#0e0e10;
        color:#fff;
        padding:30px;
        font-size: 1.3rem;
        ;
    }

    .footer>div>img{
        height: 50px;
        border-radius: 50%;
    }

    .footer>div>a{
        display: block;
        margin: 15px;
        color:#818c95;
        text-decoration: none;
    }

    .footer>div>a:hover{
      
        color: blue
        
    }

    .icons{
        display: flex;
        justify-content: center;
    }

    .topIcon{
        color:#e8a952;
        margin-top: 30px;
    }

    .restIcon{
        color:#e8a952;
    }