/* landing page styles */
.homepage{
    background-image:linear-gradient( rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.711) ),
    url("https://images.squarespace-cdn.com/content/v1/58ff2140ff7c5003d9b4d5e3/1653525853176-FVU7VCVPXAU3NSW5CVVW/unsplash-image-rmUFInoS3iw.jpg?format=1000w");
    height: 20cm;
    margin-top: -20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}

.welcomeText{
color:white;
top: 150px;
position: relative;
font-family: cursive;
}

.homepage > p{
    
    color: white;
    font-size: 11mm;
    top:100px;
   
    /* font-family: 'Courgette', cursive; */
}

.homepage>:nth-child(4){
    margin-top: 15px;
    position: relative;
  
}

.homepage > P:nth-child(2){
    margin-top: 80px;
    position: relative;
   
}

.typing-effect{
    color:#fff;
    font-size: 13mm;
    font-weight: bold;
    top:90px;
    position: relative;
    
}

/* reserve now button */
.bn31 {
    color: white;
    border-radius: 40px;
    box-sizing: border-box;
    border-width:10px; 
    display: block;
    height: 70px;
    font-size: 1.9em;
    position: relative; 
    text-decoration: none;
    width: fit-content;
    z-index: 2;
    margin: auto;
    border: 2px solid #ffba5a;
    top: 100px;
}
  
.bn31:hover {
    color:  #0e0e10;
    font-weight: 600;
    background-image: linear-gradient(to right, #808080 0%, #ffba5a 100%);
    border: transparent;
}

.bn31span:hover::after{
    content: " \00bb";
}
  
/* the button and the text inside the button */
.bn31 .bn31span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    background:transparent;
    width: 100%;
}

/* the text */
.bn31span{
    margin: -3px 50px 0px auto;

}
  
/* when button is hovereda and the text */
.bn31:hover .bn31span {
    background: transparent;
}