/* events section styling */
.eventsContainer{
    background-color:#ebe8e5;
    margin-top: -40px;
}

.eventsHeader{
    width: 50%;
    margin:auto;
}


.events{
    background-color:#ebe8e5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.events>div{
    background-color: #fff;
    display: flex;
    margin:20px;
    padding-top: 10px;
    box-shadow: 3px 5px 17px #545b61;
    width: 80%;
    height: 240px;
}

.events>div:hover{
    box-shadow: 3px 5px 17px #0e0e10;
}

.right{
    width:60%;
    justify-content: left;
    text-align: left;
    /* height: 100px; */
}

.left{
    margin-top: -10px;
    
}

.right>p{
   color:#545b61;
   margin:10px;
   padding-bottom:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right>h2{
    font-family:monospace ;
    color: #545b61;
    text-align: center;
    margin-right: 70px;
    
}

.right>h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0px 15px;
    
}

.left>img{
    width:100%;
   height: 6.645cm;
    display: inline;
    
}

.left>h1{
    position: relative;
    font-family: cursive;
    background-size: contain;
    bottom:90px;
    width: fit-content;
    font-size: 1.9rem;
    background-color: #0e0e10;
    opacity: .7;
    left:15%;
    border-radius: 10%;
    
}

.left>h1:hover{
   opacity: 1;
}

.left>h1>span{
    color: #fff;
    z-index: 3;
    opacity: 1;
}
